.visually-hidden:not(:focus):not(:active)
 {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border:0;
	padding: 0;

	white-space:nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: (hidden);
}


.catalog-item {
	box-sizing: border-box;
	width: 249px;
	padding: 13px 16px;
	border-right: 1px solid #EBEBEB;
	border-left: 1px solid #EBEBEB;
	margin-bottom: auto;
}

.catalog-item:hover {
	border: 1px solid #7EB105;
}

.catalog-item:hover .promotion {
	display: flex;
}
.catalog-item:hover .fast-characteristics{
	display: block;
}

.catalog-item:hover .availability-available,
{
	display: block;
}
.catalog-item:hover .item-memory{
	display: flex;
}
.catalog-item:hover .availability-available{
	display: block;
}

.catalog-item:hover .availability-limited {
	display: none;
}


.catalog-item:hover .item-name {
	margin-bottom: 8px;
}


.icon-youtube {
	margin-right: 18.79px;
}

.image-icons {
	display: flex;
	margin-bottom: 4px;
}


.iphone-image {
	width: 217px;
	height: 217px;
	margin-bottom: 17px;
}
.colors {
	width: 217px;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	position: absolute;
	top: 251px;
}

.color-grey {
	width: 18px;
	height: 18px;
	margin-right: 10px;
	background-image: url(../img/r.png);
	border: 2px solid #7EB105;
	border-radius: 4px;
}

.color-pink {
	width: 18px;
	height: 18px;
	margin-right: 10px;
	background-image: url(../img/2.png);
}
.rating {
	display: flex;
	align-items: center;
}
.rating-image {
	margin-right: 2.33px;
	width: 11.67px;
	height: 11.08px;
}
.rating-info {
	font-family: Arial;
	margin: 0;
	margin-left: 8.84px;
	padding: 0;
	color: #999999;
	font-style: bold;
	font-size: 12px;
	line-height: 14px;
}
.rating-reviws-wrapper {
	display: flex;
	margin-bottom: 7.75px;
}

.reviews-image {

	width: 16.5px;
	height: 13.5px;
	margin-left: 24.75px;
	margin-right: 4.75px;
}

.reviews-link {
	font-family: Arial;
	font-style: bold;
	font-size: 12px;
	line-height: 14px;
	color: #7EB105;
}

.code {
	font-family: Arial;
	font-size: 10px;
	line-height: 14px;
	
	width: 217px;
	color: #000000;
	
	
	margin: 0;
	margin-bottom: 6px;
}

.code span {
	color: #999999;
	

}

.availability {
	margin-bottom: 6px;
	width: 217px;
}

.availability-available {
	padding-left: 16px;
	color: #7EB105;
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
	margin: 0;
	position: relative;
	display: none;
}
.availability-available:before {
	content: "";
	width: 8px;
	height: 8px;
	position: absolute;
	background-image: url(../img/Ellipse2.png);
	top: 4px;
	left: 0;

}



.availability-limited {
	padding-left: 16px;
	color: #F6731C;
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
	margin: 0;
	position: relative;
	
}	

.availability-limited:before {
	content: "";
	width: 8px;
	height: 8px;
	position: absolute;
	background-image: url(../img/Ellipse.png);
		top: 4px;
	left: 0;
}

.item-name {
	margin: 0;
	color: #212121;
	margin: 0;
	margin-bottom: 28px;
}

.item-name a {
	font-size: 14px;
	
	color: #212121;
	font-family: Arial;
	
	text-decoration: none;
}

.item-memory {
	display: none;
	margin-bottom: 12px;
}

.sixteen-gb {
	font-size: 14px;
	line-height: 16px;
	padding: 0 2px;
	color: #212121;
	font-family: Arial;
	margin-right: 10px;
	background-color: #d8f594;
	text-decoration: none;
	width: 39px;
}

.thirtytwo-gb {
	font-size: 14px;
	line-height: 16px;
	color: #212121;
	font-family: Arial;
	text-decoration: none;
	color: #7EB105;
	border-bottom: 2px dashed #7EB105;
	
	width: 39px;
}

.citrus-change {
	color: #F6731C;
	font-family: Arial;
	font-size: 10px;
	line-height: 12px;
	margin: 0;
}

.price {
	display: flex;
	align-items: flex-end;
	margin-bottom: 4px;
	padding: 3px 0;

}

.old-price {
	color: #C4C4C4;
	font-family: Arial;
	font-weight: bold;
	font-size: 13px;
	line-height: 15px;
	margin: 0;
	margin-right: 5px;
	text-decoration: line-through;
}

.new-price {
	color: #F6731C;
	font-family: Arial;
	font-weight: bold;
	font-size: 21px;
	line-height: 24px;
	margin: 0;

}

.new-price span {
	vertical-align: super;
	font-weight: bold;
	font-size: 13px;
	line-height: 15px;

}

.economy {
	color: #7EB105;
	font-family: Arial;
	
	font-size: 12px;
	line-height:14px;
	margin: 0;
	margin-bottom: 4px;
}
.economy span {
	font-weight: bold;
}
.line {
	margin: 0;
	margin-bottom: 8px;
}

.item-icons {
	
	display: flex;
	justify-content: space-around;
	padding: 3px 0;
	margin-bottom: 20px;

}

.item-icon-weights {
	width: 20.2px;
	height: 19px;
}

.item-icons-heart {
	width: 20px;
	height: 18.35px;
}

.item-icons-basket {
	width: 20px;
	height: 20px
}

.promotion {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
	display: none;
	
}
.promotion-image {
	width: 40px;
	height: 40px;
	margin-right: 8px;
}

.promotion-title {
	font-family: "Ubuntu";
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	color: #212121;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 1px;
}

.promotion-info {
	font-family: "Arial";
	font-weight: bold;
	font-size: 11px;
	line-height: 13px;
	color: #F6731C;
	margin: 0;
}

.fast-characteristics {
	display: none;
}

.fast-characteristics-title {
	font-family: "Arial";
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #212121;
	margin-bottom: 4px;
}

.fast-characteristics-list {
	font-family: "Arial";
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	color: #999999;
	list-style: none;
	margin: 0;
	padding: 0;

}

.characteristics-list-item {
	margin-left: 6px;
	padding-left: 22px;
	position: relative;
}

.characteristics-list-item:before {
	content: "";
	width: 6px;
	height: 6px;
	position: absolute;
	background-color: #999999;
	border-radius: 3px;

	top: 6px;
	left: 5px;
}








